<section class="about section">
    <div class="section-inner">
        <h2 class="heading"><%= data.main_sections.about_me.title %></h2>
        <div class="content">
            <% data.main_sections.about_me.parts.each do |paragraph| %>
                <p><%= paragraph %></p>
            <% end %>

            <!-- TODO Figure out how to move it to the right side (pull-right or float: right not working)-->
            <%# <a class="btn btn-cta-primary" href="/about_me.html" target="_blank"> %>
                <%# <i class="fa fa-info-circle" aria-hidden="true"></i> %>
                <%# More about me %>
            <%# </a> %>
        </div>
    </div>
</section>
