<section class="about section">
    <div class="section-inner">
        <h2 class="heading"><%= data.main_sections.more_about_me.title %></h2>
        <div class="content">
            <p><%= data.main_sections.more_about_me.first_part %></p>
            <p><%= data.main_sections.more_about_me.second_part %></p>
        </div>
    </div>
</section>
