<%# Aliases %>
<% latest_projects = data.projects.latest_projects %>
<% other_projects = data.projects.other_projects %>

<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">
            <!-- Latest Section Title -->
            <%= latest_projects.section_title %>
        </h2>
        <div class="content">
            <!-- First Latest Project -->
            <%= partial project_partial_path('main_project_template'), locals: { project: latest_projects[:first_project] } %>
            <hr class="divider" />

            <!-- Second Latest Project -->
            <%= partial project_partial_path('main_project_template'), locals: { project: latest_projects[:second_project] } %>
            <hr class="divider" />

            <!-- Other Recent Projects -->
            <% other_projects.projects.each do |project| %>
                <%= partial project_partial_path('other_project_template'), locals: { project: project } %>
            <% end %>
        </div>
    </div>
</section>