
p {
    /* 
    Force using newlines as they are in YML data files
    Without this, text is wrapping to container, not preserving line breaks 
    */
    white-space: pre-wrap; 
}

#codewars-badge {
    /* 
    Use the same value as in .header .btn inside styles.css
    It makes those two elements at the same height
    */
    margin-top: 10px; 
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 0em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
.showContent {
    height: auto;
}