<div class="table-responsive">
  <h4>Bird-eye's view ablations</h4>
  <table class="table">
  <caption>Model can take as input one of these layered binary masks (3D numpy arrays):</caption>
    <thead>
      <tr>
        <th scope="col">Front + rear visibility</th>
        <th scope="col">With road centerlines</th>
        <th scope="col"><a href="https://arxiv.org/abs/1912.12294">Learning By Cheating</a>-like shape</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img class="img-responsive project-image"
            src="https://user-images.githubusercontent.com/64484917/80508193-04edde00-8978-11ea-956d-721e50a6a3c9.gif"
            alt="freeway-oriented shape" />
        </td>
        <td>
          <img class="img-responsive project-image"
            src="https://user-images.githubusercontent.com/64484917/83240703-0fc7a880-a19a-11ea-9df0-74e340da8c3d.gif"
            alt="with centerlines layer" />
        </td>
        <td>
          <img class="img-responsive project-image"
            src="https://user-images.githubusercontent.com/64484917/80508095-e4258880-8977-11ea-8601-0e88942711ff.gif"
            alt="square-shaped" />
        </td>
      </tr>
    </tbody>
  </table>
</div>