<%# Aliases %>
<% current_projects = data.projects.major_projects %>

<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">
            <!-- Latest Current Title -->
            <%= current_projects.section_title %>
        </h2>
        <div class="content">
            <!-- First Current Project -->
            <%= partial project_partial_path('major_project_template'), locals: { project: current_projects[:first_project] } %>
            <hr class="divider" />

            <!-- Second Current Project -->
            <%= partial project_partial_path('major_project_template'), locals: { project: current_projects[:second_project] } %>
            <hr class="divider" />
        </div>
    </div>
</section>