<%# Aliases %>
<% projects_archive_major = data.projects.projects_archive_major %>

<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">
            <%= projects_archive_major.section_title %>
        </h2>
        <div class="content">
            <%= partial project_partial_path('major_project_template'), locals: { project: projects_archive_major[:first_project] } %>
        </div>
    </div>
</section>
<section class="latest section">
    <div class="section-inner">
        <div class="content">
            <%= partial project_partial_path('major_project_template'), locals: { project: projects_archive_major[:second_project] } %>
        </div>
    </div>
</section>
<section class="latest section">
    <div class="section-inner">
        <div class="content">
            <%= partial project_partial_path('major_project_template'), locals: { project: projects_archive_major[:third_project] } %>
        </div>
    </div>
</section>