<% graduation_cap_glyph_icon = '<i class="fa fa-graduation-cap" aria-hidden="true" style="padding-right: 1px"></i>' %>
<% music_glyph_icon = '<i class="fa fa-music" aria-hidden="true"></i>' %>

<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Education</h2>
        <div class="content">
            <!-- Studies -->
            <div class="item">
                <h3 class="title">
                    <i class="fa fa-cog fa-spin fa-fw"></i>
                    Computer Science Engineering
                </h3>
                <h4 class="university">Gdańsk University of Technology <span class="year" style="white-space:pre"> (from 2014)</span></h4>
            </div>

            <!-- Mid and High School -->
            <div class="item">
                <h3 class="title">
                    <%= graduation_cap_glyph_icon %>
                    Middle School and High School
                </h3>
                <h4 class="university">St. Queen Jadwiga University High School in Tczew <span class="year" style="white-space:pre">(2008-2011, 2011-2014)</span></h4>
            </div>

            

            <!-- Music School -->
            <div class="item">
                <h3 class="title">
                    <%= graduation_cap_glyph_icon %>
                    Cello
                    <%= music_glyph_icon  %>
                </h3>
                <h4 class="university">Janina Garścia, 1st Degree School of Music in Tczew <span class="year" style="white-space:pre">(2002-2008)</span></h4>
            </div>
        </div>
    </div>
</aside>
