<aside class="list music aside section">
    <div class="section-inner">
        <h2 class="heading">Favourite coding music</h2>
        <div class="content">
            <ul class="list-unstyled">
                <% data.aside_sections.music.playlist.each do |song| %>
                    <li><%= image_tag yt_thumbnail_image(song.link), style: 'width: 30%; height: auto' %><%= link_to song.title, song.link %></li>
                <% end %>
            </ul>
        </div>
    </div>
</aside>