<div class="container sections-wrapper" style="padding-top: 30px">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <%= partial 'partials/projects/current_projects_section' %>
        </div>

        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <%= partial aside_partial('info') %>
            <%= partial aside_partial('music') %>
        </div>
    </div>
</div>
