<div class="container sections-wrapper" style="padding-top: 30px">
    <div class="row">
        <div class="primary col-md-6 col-sm-12 col-xs-12">
            <%= partial 'partials/projects/recent_major_section' %>
        </div>

        <div class="secondary col-md-6 col-sm-12 col-xs-12">
            <%= partial aside_partial('info') %>
            <%= partial 'partials/projects/recent_minor_section' %>
        </div>
    </div>
</div>
